<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../Js/Vendors/jquery.js"></script>
    <script src="../Js/Vendors/jquery-ui.js"></script>
    <script src="../Js/Vendors/jsPlumber.js"></script>
    <script src="../Js/Editor/Nodes.js"></script>
    <script src="../Js/Editor/Connectors.js"></script>
    <script src="../Js/Editor/Handlers.js"></script>
    <link rel="stylesheet" href="../Css/Style.css" type="text/css">
</head>
<body>
    <div>
        <button class="addNode">+</button>
        <button class="deleteNode">-</button>
        <button class="saveData">Salvar</button>
        <button class="doBreathSearch">Fazer a busca</button>
    </div>

    <div class="editor"></div>
</body>
</html>