<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../Js/Vendors/jquery.js"></script>
    <script src="../Js/script.js"></script>
    <script src="../Js/Table.js"></script>
    <script src="../Js/TuringMachine.js"></script>
    <script src="../Js/MachineFormatter.js"></script>
    <script src="../Js/PredefinedMachines.js"></script>
    <script src="../Js/MachineTest.js"></script>
</head>


<br>

    <label>Predefined machines</label>

    <select id="predefinedMachines">
        <option value="double">Double tape</option>
        <option value="multiply">Multiply</option>
        <option value="4">Machine Four</option>
        <option value="5">Machine Five</option>
    </select>

    <input type="button" id="executePredefinedMachine" value="Execute predefined Machine">

    <br>
    <br>

    <div>
        <lable>Numero de fitas</lable>
        <input id="numberOfTapes"><br><br>
    </div>

    <br>
        <table id="inputTable">
            <tr>
                <th>
                    Fita
                </th>
                <th>
                   Estado atual
                </th>
                <th>
                    Lê
                </th>
                <th>
                    Escreve
                </th>
                <th>
                    Movimenta
                </th>
                <th>
                    Estado seguinte
                </th>
            </tr>
            <tr>

            </tr>
        </table>
        <button id="removeRow">Remover</button>
        <button id="addRow">Adicionar</button>
        <br>
        <br>
        <lable>Primeiro estado</lable>
        <input id="firstState">
        <lable>Ultimo estado</lable>
        <input id="lastState">
        <lable>Alfabeto</lable>
        <input id="alphabet">
        <br>
        <button id="execute">Executar</button>
        <br><br>
        <input class="output" hidden>
    </div>
</body>
</html>